<form [formGroup]="colecaoForm" class="mt-5 width_size">
<div class="row">
  <div class="form-floating mb-3 col">
    <input type="text" class="form-control" id="floatingInput" formControlName="nome">
    <label for="floatingInput">Nome da coleção</label>
  </div>
  <div class="form-floating col">
    <input type="text" class="form-control" id="floatingPassword" formControlName="responsavel" >
    <label for="floatingPassword">Responsável pela coleção</label>
  </div>
</div>
<div class="row">
  <div class="form-floating mb-3 col">
    <input type="text" class="form-control" id="floatingInput" formControlName="estacao">
    <label for="floatingInput">Para qual estação?</label>
  </div>
  <div class="form-floating col">
    <input type="text" class="form-control" id="floatingPassword" formControlName="marca">
    <label for="floatingPassword">Para qual marca?</label>
  </div>
</div>
<div class="row">
  <div class="form-floating mb-3 col">
    <input type="number" class="form-control" id="floatingInput" formControlName="orcamento">
    <label for="floatingInput">Qual é o orçamento desta coleção?</label>
  </div>
  <div class="form-floating col">
    <input type="number" class="form-control" id="floatingPassword" formControlName="ano">
    <label for="floatingPassword">Ano de lançamento?</label>
  </div>
</div>
</form>
