<section class="card col col-md-12 border border-0 p-4 menu ">
  <div class="mb-5">
    <img class="img_size" src="../../../../assets/logo-nome_Audaces.svg" />
  </div>
  <div class="mt-5 mb-5">
    <p>menu</p>
  </div>

  <div class="list-group">
    <button type="button" class="btn btn-primary border border-0 list-group-item list-group-item-action mb-3" aria-current="true" [ngClass]="{ 'active': rotaAtual === '/dashboard' }" #dashboard id="dashboard" [routerLink]="['']">Dashboard</button>
    <button type="button" class="btn btn-primary border border-0 list-group-item list-group-item-action mb-3" aria-current="true" [ngClass]="{ 'active': rotaAtual === '/colecoes' }" #colecoes id="colecoes" [routerLink]="['colecao']">Coleções</button>
    <button type="button" class="btn btn-primary border border-0 list-group-item list-group-item-action mb-3" aria-current="true" [ngClass]="{ 'active': rotaAtual === '/modelos' }" #modelos id="modelos" [routerLink]="['modelos']">Modelos</button>
    <button type="button" class="btn btn-primary border border-0 list-group-item list-group-item-action mb-3" aria-current="true" [ngClass]="{ 'active': rotaAtual === '/ajuda' }" #ajuda id="ajuda" [routerLink]="['ajuda']">Obter ajuda</button>
    <button type="button" class="btn btn-primary border border-0 list-group-item list-group-item-action mb-3" aria-current="true" [ngClass]="{ 'active': rotaAtual === '/comentarios' }" #comentario id="comentarios" [routerLink]="['comentarios']">Comentários</button>
  </div>

</section>
