<section class="hero mt-5 me-5 pb-5 justify-content-start align-items-center col-sm-12">
  <h2 class="d-flex mb-1 text-light-emphasis text-secondary">
    Criar Modelo
  </h2>
  <div class="card col d-flex justify-content-around mt-3 ms-2 pb-4 border-0 me_small">
    <app-form-modelo class="d-flex col-12 justify-content-around" (salvaModelo)="salvaModelo($event)"></app-form-modelo>
    <div class="d-flex justify-content-end col-10 align-self-end mt-3 me-5">
      <button class="btn btn-light me-5 w-25" [routerLink]="['../../../modelos']">
        Cancelar
      </button>
      <button class="btn btn-primary w-25" (click)="formModelo.salva()">
        Salvar
      </button>
    </div>
  </div>
</section>
