
<div class="d-flex flex-column col-12">
  <p class="pt-4 ps-4 fs-3 text-muted">Orçamento Médio (R$)</p>
  <div class="pt-4 ps-4 pb-2 pe-4 d-flex fs-2 fw-bolder text-muted col-12 justify-content-between">
    <p class="fs-2 fw-bolder text-muted">{{total}}</p>
    <div class="d-flex flex-column justify-content-between">
      <div class="d-flex col justify-content-end align-items-center">
        <img src="../../../../assets/arrow_up_icon.svg">
        <p class="fs-5 text align-middle mb-0 text-success">25%</p>
      </div>
      <p class="fs-6">Comparado com 01/23</p>
    </div>
  </div>
</div>
