<section class="hero me-5 justify-content-center align-items-center col-sm-12">
  <h2 class="d-flex mt-5 mb-3 text-light-emphasis text-secondary">Dashboard</h2>
  <div class="container d-flex justify-content-between small_screen me_small">
    <app-card-colecao class="card d-flex col-4 me-2 small_item border-0"></app-card-colecao>
    <app-card-modelos class="card d-flex col-4 me-2 small_item border-0"></app-card-modelos>
    <app-card-orcamento-medio class="card d-flex col-4 me-2 small_item border-0"></app-card-orcamento-medio>
  </div>
  <app-maiores-orcamentos class="card col-12 d-flex mt-5 border-0 me_small"></app-maiores-orcamentos>
</section>
